html {
  color: $font-color--base;
  font-family: $font-family--base;
  font-size: $font-size--base;
  font-weight: $font-weight--normal;
}

body {
  line-height: $line-height--body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--heading;
  font-weight: $font-weight--normal;
  line-height: $line-height--heading;
  margin: 0 0 $space--base;
}

p {
  margin: 0 0 $space--base;
}

a {
  font-weight: $font-weight--bold;
  text-decoration: underline;

  &:hover {
    text-decoration: wavy;
  }
}
