.site-footer {
  background: $background-color--dark;
  color: $font-color--light;
  font-size: $font-size--small;
  padding-bottom: $space--base;
  padding-top: $space--base;
  text-align: center;
}
