<div class="being-ally">
  <div class="container--medium">
    <h1 class="text--headline text--headline--1 space--mv--large">To be an <span class="text--green-light">ally</span> is to...</h1>
    <ol class="space--mv--large">
      <li>Take on the struggle as your own.</li>
      <li>Transfer the benefits of your privilege to those who lack it.</li>
      <li>Amplify voices of the oppressed before your own.</li>
      <li>Acknowledge that even though you feel pain, the conversation is not about you.</li>
      <li>Stand up, even when you feel scared.</li>
      <li>Own your mistakes and de-center yourself.</li>
      <li>Understand that your education is up to you and no one else.</li>
    </ol>
  </div>
</div>
