<h1 class="text--headline--1 text--bold">💡 So you want to be an ally...</h1>

<p class="text--green-medium">Welcome to the <em>Guide to Allyship.</em></p>

<p>Think of this guide as one of many starting points in your journey to become a better ally. This guide isn’t meant to be comprehensive nor is it perfect. There are people far more versed than I, who have dedicated their life’s work to this sort of education.</p>

<p>In light of recent events and tragedies, I’ve been hearing the word “ally” a lot. Many people want to be an “ally”, and even more people are unable to fulfill the duties allyship requires.</p>

<p>I use the word “ally” loosely because I find it overused and often abused by those who label themselves “allies.” Despite its current misuse, using a different word would only cause confusion. As you read through this guide, be aware that your definition of “ally” may not be the same as the definition I’ll introduce you to.</p>
