<h1 class="text--headline--1 text--bold space--mb--small" id="apologies">💬 How to apologize</h1>

<p>You’ve made a mistake and you want to apologize. Where do you begin?</p>

<h2 class="text--headline--3 space--mt--large">What is an apology?</h2>
<p>Before you can apologize, you need to know what an apology is.</p>

<p>Apologies are social contracts that hold you accountable. They tell others that you are taking responsibility, are open to the consequences of your actions, and plan to do better in the future.</p>

<p><strong>Bad apologies</strong> are performances meant to protect pride and ego. They exist to make the apologizer feel and look good, while defending their intent.</p>

<p><strong>Good apologies</strong> are heartfelt acts that let go of pride and ego. They center the pain of the impacted, regardless of the apologizer’s intent.</p>

<p>Think of pain as a gradient—it doesn’t have to be extreme to have a significant impact. Accidentally misgendering someone can cause them pain. Stepping on someone’ toes can cause them pain.</p>

<h2 class="text--headline--3 space--mt--large">Attributes of a good apology</h2>
<p>Apologies aren’t a magic fix and won’t solve mistakes of the past, but there are a few attributes that make for a good apology.</p>

<ul>
  <li>
    <strong>Timely</strong>
    <p class="text--emphasis">Delivered at the right moment in the right place and time.</p>

    <p>Consider the context in which you want to apologize and how that might affect not only you but also the person receiving your apology.</p>
    
    <p>Context can include your current mental state (are you feeling defensive? Upset? Nervous? Calm?), the physical space you're in (private or public area), or the apology’s medium (phone, online, text message, in person).</p>
  </li>

  <li>
    <strong>Respects boundaries</strong>
    <p class="text--emphasis">Given when the person receiving the apology consents to it.</p>

    <p>Your desire to give an apology <em>right now</em> doesn’t mean that the receiver is ready for it. Some people need space to process, and you should respect that. When they’re willing to reconnect, if at all, they may let you know (or they may not).</p>
  </li>

  <li>
    <strong>Self-aware</strong>
    <p class="text--emphasis">Know that the act of apology may not lead to the closure you expect.</p>

    <p>The apology receiver may choose to never interact with you again. Either after you give an apology or before you give it. You have to find a way to make peace with that. Do not pressure or shame someone into accepting your apology.</p>
    
    <p>One of the greatest gifts we can give ourselves is learning how to create closure within rather than expecting other people to give it to us.</p>
  </li>

  <li>
    <strong>Reflective</strong>
    <p class="text--emphasis">Signals that the apologizer is taking full responsibility for their actions.</p>

    <p>Apologizing means letting go of your ego to show that you care about someone and want to make things right. Good apologies center the person being apologized to. They also take direct ownership of the actions that caused pain by naming them clearly.</p>
  </li>
</ul>
