<h1 class="text--headline--2 text--bold" id="contribute">🎉 Contribute to this Guide</h1>

<p>This Guide is open-source, meaning that anyone can contribute. I’m a queer Black femme and my voice should not be the only one shaping this guide.</p>

<p>If you identify as a member of an underinvested community and want to contribute, please submit a pull-request on this <a href="https://github.com/almnt/guide-to-allyship?utm_source=guidetoallyship" target="_blank">GitHub repository.</a></p>

<p>If you aren’t a GitHub user and would still like to contribute, send me an email at <strong>guidetoallyship [to] byamelie [dot] co</strong>.</p>
