<h2 class="text--headline--2">What’s so special about this guide?</h2>

<p>There are many great guides out there, and I acknowledge their existence. What’s different about this guide is that it’s open source (any one can contribute to it) and it doesn’t get into specifics: racism, transphobia, gender discrimination, etc. and that’s by design.</p>

<p>This guide can’t and shouldn’t be everything to you. At some point, you need to take responsibility and further your education. When you’re done with the guide, please find ways to learn more.</p>

<p>Finally, this is a resource to help anyone considering allyship better understand the pros and cons of what being an ally entails. Allies understand their role in collaboration with people whose lives are affected daily by systemic oppression.</p>

<p class="text--headline--1 text--green-medium text--emphasis space--mt--large">Don’t take the responsibility of being an ally lightly.</p>
