<h1 class="text--headline--3">This Guide covers the following...</h1>
<ul class="space--mv--large">
  <li><a href="#why-this-was-created">How the Guide came to be</a></li>
  <li><a href="#what-is-an-ally">What is an ally?</a></li>
  <li><a href="#why-allies-are-necessary">Why allies are necessary</a></li>
  <li><a href="#the-work-of-allyship">The Work of Allyship: Dos and Don’ts</a></li>
  <li><a href="#how-to-handle-mistakes">How to handle mistakes</a></li>
  <li><a href="#apologies">How to apologize</a></li>
  <li><a href="#contribute">Contribute to this Guide</a></li>
  <li><a href="#support">Support &amp; share this Guide</a></li>
</ul>
