<h1 class="text--headline--1 text--bold" id="why-this-was-created">📖 How the Guide came to be</h1>

<p>In the summer of 2016, someone I considered an ally stood by and watched as I, a Black person, was berated by a racist. To make matters worse, I had a conversation with this person earlier in the day about the power allies can wield in situations of discrimination. But when the time came for them to take action, they were more interested in protecting their comfort.</p>

<p>Upset, I couldn’t understand what happened. Did the conversation we had not get through? What didn’t they step up? Then it dawned on me:</p>

<p><strong>Saying you’re an ally is much easier than actually being an ally. Saying you’re an ally looks good on paper, especially if you’re never questioned about your inaction.</strong></p>

<p>Many self-defined “allies” wear the phrase and ideology like an article of clothing, easily discarded when it’s no longer fashionable to wear.</p>

<p>If only those from marginalized and underinvested communities could cast away the identities marking them as targets with such ease.</p>
