<h1 class="text--headline--1 text--bold" id="what-is-an-ally">🤔 What is an ally?</h1>

<p>I noted before that I used the word “ally” loosely. In fact, I personally no longer use the word. However, I <em>do</em> think it’s a good starting place for those learning to be better allies. I also believe there’s an opportunity to explore a better definition of the word. The best definition of “ally” (that I’ve found) comes from author Roxane Gay in her article for <em>Marie Claire</em>, <a href="http://www.marieclaire.com/culture/features/a21423/roxane-gay-philando-castile-alton-sterling/" target="_blank">“On Making Black Lives Matter.”</a> In it, she notes:</p>

<blockquote class="border--bl--medium space--mv--medium space--ml--medium space--pl--medium text--emphasis">
  <p>Black people do not need allies. We need people to stand up and take on the problems borne of oppression as their own, without remove or distance.</p>
  <p>We need people to do this even if they cannot fully understand what it’s like to be oppressed for their race or ethnicity, gender, sexuality, ability, class, religion, or other marker of identity. </p>
  <p>We need people to use common sense to figure out how to participate in social justice.</p>
</blockquote>

<p><strong>To recap:</strong> Being an ally doesn’t necessarily mean you fully understand what it feels like to be oppressed. It means you’re taking on the struggle as your own.</p>

<p>An individual from an underinvested community cannot easily cast away the weight of their identity (or identities) shaped through oppression on a whim. They carry that weight every single day, for better or for worse. An ally understands that this is a weight that they, too, must be willing to carry and never put down.</p>
