<h2 class="text--headline text--headline--2 space--mt--large-x" id="why-allies-are-necessary">Why allies are necessary</h2>

<p>Anyone has the potential to be an ally. Allies recognize that though they’re not a member of the underinvested and oppressed communities they support, they make a concerted effort to better understand the struggle, every single day.</p>

<p>Because an ally might have more privilege and recognizes said privilege, they are powerful voices <em>alongside</em> oppressed ones.</p>
