<h1 class="text--headline text--headline--1 text--bold" id="the-work-of-allyship">✊🏿 The work of allyship</h2>

<p>Being an ally is hard work.</p>

<p>Many would-be allies fear making mistakes that could have them labeled as “-ist” or “-ic” (racist, sexist, transphobic, homophobic, etc). But as an ally, you’re also affected by a system of oppression. This means that as an ally, there is much to unlearn and learn&mdash;mistakes are expected. You need to own this as fact and should be willing to embrace the daily work of doing better.</p>

<p class="border--bl--medium space--mv--medium space--ml--medium space--pl--medium"><strong>As an ally, you need to own your mistakes and be proactive in your education, every day.</strong></p>

<p>If you refuse to acknowledge that your words and actions are inherently shaped and influenced by <a href="https://nationalequityproject.org/resources/featured-resources/lens-of-systemic-oppression/?utm_source=guidetoallyship" target="_blank">systemic oppression</a>, you’re setting up yourself to fail.</p>

<p>Lack of self-awareness is not a trait of an ally. You’ll be complicit in the oppression of those you intend to help. If you choose not to understand this, but label yourself an “ally”, you’re essentially a wolf in sheep’s clothing. You’ll find ways to infiltrate vulnerable communities and wield far more power than someone who is outwardly “-ist” or “-ic” because you’re “trusted.”</p>

<p>Just as society will not change overnight, neither will you. Here are some important do’s and don’ts to consider as you learn, grow, and step into the role of an ally.</p>

