<div class="donts-and-dos">
  <div class="dos">
    <h3 class="text--headline text--headline--3 space--mt--large space--mb">The Dos</h3>
    <ul class="space--mb--large">
      <li><strong>Do</strong> be open to listening</li>
      <li><strong>Do</strong> be aware of your implicit biases</li>
      <li><strong>Do</strong> your research to learn more about the history of the struggle in which you are participating</li>
      <li><strong>Do</strong> the inner work to figure out a way to acknowledge how you participate in oppressive systems</li>
      <li><strong>Do</strong> the outer work and figure out how to change the oppressive systems</li>
      <li><strong>Do</strong> use your privilege to amplify (digitally and in-person) historically suppressed voices</li>
      <li><strong>Do</strong> learn how to <em>listen</em> and accept criticism with grace, even if it’s uncomfortable</li>
      <li><strong>Do</strong> the work every day to learn how to be a better ally</li>
    </ul>
  </div>

  <div class="donts">
    <h3 class="text--headline text--headline--3 space--mt--large space--mb">The Don’ts</h3>
    <ul class="space--mb--large">
      <li><strong>Do not</strong> expect to be taught or shown. Take it upon yourself to use the tools around you to learn and answer your questions</li>
      <li><strong>Do not</strong> participate for the gold medal in the “Oppression Olympics” (you don’t need to compare how your struggle is “just as bad as” a marginalized person’s)</li>
      <li><strong>Do not</strong> behave as though you know best</li>
      <li><strong>Do not</strong> take credit for the labor of those who are marginalized and did the work before you stepped into the picture</li>
      <li><strong>Do not</strong> assume that every member of an underinvested community feels oppressed</li>
    </ul>
  </div>
</div>
