<h1 class="text--headline text--headline--1 text--bold space--mb--small" id="how-to-handle-mistakes">👢 Boots &amp; Sandals: How to handle mistakes</h1>
<p class="text--emphasis space--mb--large">Contributed by <a href="https://github.com/presleyp" target="_blank">Presley Pizzo.</a> Please credit Presley when referencing this section.</p>

<p>While mistakes are to be expected, what’s the best way to go about resolving them?</p>

<p><strong>Note:</strong> Parts of this section were originally based on
<a href="https://twitter.com/iKaylaReed/status/742243143030972416?utm_source=guidetoallyship" target="_blank">Kayla Reed’s (<a href="https://twitter.com/iKaylaReed?utm_source=guidetoallyship" target="_blank">@iKaylaReed</a>) tweet sharing her definition of what it means to be an ally.</a> It’s another great definition that’ll help you follow along with this section!</p>

<p>Imagine your privilege is a heavy boot that keeps you from feeling when you’re stepping on someone’s feet or they’re stepping on yours, while oppressed people have only sandals. If someone says, “ouch! You’re stepping on my toes,” how do you react?</p>

<p>Because we can think more clearly about stepping on someone’s literal toes than we usually do when it comes to oppression, the problems with many common responses are obvious:</p>

<ul class="space--mv--large">
  <li><strong>Centering yourself:</strong> “I can’t believe you think I’m a toe-stepper! I’m a good person!”</li>

  <li><strong>Denial that others’ experiences are different from your own:</strong> “I don’t mind when people step on my toes.”</li>

  <li><strong>Derailing:</strong> “Some people don’t even have toes, why aren’t we talking about them instead?”</li>

  <li><strong>Refusal to center the impacted:</strong> “All toes matter!”</li>

  <li><strong>Tone policing:</strong> “I’d move my foot if you’d ask me more nicely.”</li>

  <li><strong>Denial that the problem is fixable:</strong> “Toes getting stepped on is a fact of life. You’ll be better off when you accept that.”</li>

  <li><strong>Victim blaming:</strong> “You shouldn’t have been walking around people with boots!”</li>

  <li><strong>Withdrawing:</strong> “I thought you wanted my help, but I guess not. I’ll just go home.”</li>
</ul>

<p>In reality, most of us naturally know the right way to react when we step on someone’s toes, and we can use that to help us learn how to react when we commit microaggressions.</p>

<ul class="space--mv--large">
  <li><strong>Center the impacted</strong>: “Are you okay?”</li>
  <li><strong>Listen to their response and learn.</strong></li>
  <li><strong>Apologize for the impact, even though you didn’t intend it:</strong> “I’m sorry!”</li>
  <li><strong>Stop the instance:</strong> move your foot</li>
  <li><strong>Stop the pattern:</strong> be careful where you step in the future. When it comes to oppression, we want to actually change the “footwear” to get rid of privilege and oppression (sneakers for all!), but metaphors can only stretch so far!</li>
</ul>

<p>Reacting in a fair and equitable way isn’t about learning arbitrary rules or being a doormat. Rather, it's about restoring and maintaining dignity and respect for everyone involved - both the person who is hurt, and you. Still, it’s hard to remember in the moment, because these issues are so charged in our society. As such, it may be helpful to reframe the situation so that you don’t feel defensive.</p>

<p>You may have noticed it’s easier to handle being corrected about something you didn’t know if you’re grateful for and even open to the opportunity to learn rather than embarrassed to have been wrong. Being able to let go of your ego is an incredibly important skill to develop.</p>

<p>Try starting with “Thanks for letting me know” to put yourself in a better frame of mind. If after you say that, you need to take some time to think about the situation, that’s fine, too. Just remember that this isn’t about changing the other person’s frame of mind. They’re allowed to be upset about being oppressed.</p>
