<header class="site-header">
  <div class="container--center container--width-260">
    <a href="/"><img class="site-header__logo" src="/assets/img/logo.png" alt="a plain logo with the text 'The Guide to Allyship'"></a>

    <p class="site-header__copy space--mt--medium">The Guide to Allyship is an open-source starter guide to help you become a more thoughtful and effective ally.</p>

    <hr class="space--mt--large">

    <p class="site-header__copy text--headline--3 text--highlight"><strong>{{ title }}</strong></a></p>
    <p class="site-header__copy">{{ desc }}</p>

  </div>
</header>
