/**
 * Site header
 */
.site-header {
  min-height: 80vh;
  padding-top: 20vh;
  border-top: 20px solid $black-color;

  .wrapper { padding: 50px 15px; }

  p {
    max-width: 335px;
    margin-top: 30px;
  }
}

.site-title {
  margin: 0 auto;
  font: 4rem/1.2 $headline-font-family; // 64px
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black-color;
  span { color: $brand-color; }
}

.being-an-ally {
  padding: 50px 0;
  background: $black-color;
  span { color: $blue-color; }

  .wrapper { max-width: 500px; }

  h2 {
    color: $white-color;
    font-size: 3.75rem; // 60px
    text-transform: uppercase;
  }

  p {
    font-size: 1.2rem;
    letter-spacing: .5px;
    color: $white-color;
    margin-bottom: 10px;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;

  h2 {
    font-size: 2rem; // 32px
    text-transform: uppercase;
  }

  h3 {
    margin-bottom: 15px;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 1.5rem; // 24px
    color: #333;
  }

  p { font-size: 1.125rem; line-height: 1.5; } // 18px
}



/**
 * Site footer
 */
.site-footer {
  padding: 15px 0;
  background: $black-color;
  font-size: $small-font-size;
  color: $white-color;
  text-align: center;
}