$black:      #111111;
$green-light: #22C177;
$green-medium: #137057;
$green-dark:  #11392E;
$lavender:     #A177D6;
$gray:       #828282;
$gray-dark:  darken($gray, 25%);
$gray-light: lighten($gray, 40%);
$cream:      #F4F6E7;
