---
layout: layouts/base.html
---

{% include '0-ally.html' %}

<div class="container--base">
  <section>
    {% include '1-intro.html' %}
  </section>

  <section>
    {% include '2-expectations.html' %}
  </section>

  <hrs>

  <section>
    {% include '3-toc.html' %}
  </section>

  <hr>

  <section>
    {% include '4-origins.html' %}
  </section>

  <hr>

  <section>
    {% include '5-definition.html' %}

    {% include '6-why-allies.html' %}
  </section>

  <hr>

  <section>
    {% include '7-work.html' %}
    {% include '8-dos-donts.html' %}
  </section>

  <hr>

  <section>
    {% include '9-boots-sandals.html' %}
  </section>

<hr>

  <section>
    {% include '10-apologies.html' %}
  </section>

  <hr>

  <section class="space--mb--large-x">
    {% include '11-contribute.html' %}
  </section>

  <hr>

  <section class="space--mb--large-x">
    {% include '12-support.html' %}
  </section>
</div>
